---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於我"
	description="Learn more about me and my work"
	pubDate={new Date('April 27 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		一名具備軟體開發與專案管理能力的開發者，擅長將抽象想法轉化為實際可運作的系統。熟悉多種程式語言（C / C++ / Java / Python / Kotlin / ASP.NET）與前端技術（JavaScript / TypeScript / HTML / CSS），能進行完整的 Web 應用開發。
	</p>
	<p>
		我習慣在 Linux, Windiows 環境下工作，並使用 Docker、Git 等工具進行開發與部署，同時具備 MongoDB 與 MariaDB 的使用經驗，能設計並實作資料驅動的應用系統。
	</p>
	<p>
		近年也開始探索 AI workflow，自行使用 n8n 建立自動化流程，提升系統整合與開發效率。
	</p>
		我對於技術與創作同樣重視，目前也在發展結合敘事與系統設計的個人專案，持續拓展軟體開發的可能性。
	</p>

</Layout>
