---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="關於我"
	description="Learn more about me and my work"
	pubDate={new Date('April 27 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		一名初入社會的軟體開發者，接觸過多種語言和工具，習慣在 Linux, Windiows 環境下工作。
		對近年流行的AI領域也同樣有興趣並開始更多使用AI工具輔助開發。
	</p>
	<p>
		除了資訊與前沿科技以外，也對歷史、人類學、哲學頗感興趣，會在閒暇時間涉獵各種領域的內容。
	</p>
	<p>
		
	</p>

</Layout>
